@import "compass/css3";
@import "variables";

#idizcuz {
    .messages-list {
        margin-top : 20px;
        li {
            border-bottom : solid 1px #EEE;
            padding : 20px;
            &.empty {
                text-align : center;
                color : #999;
                line-height : 80px;
            }
            .remove {
                font-size : 13px;
                color : #999;
            }
            .flag {
                color : $brandColor;
                font-size : 10px;
                margin-right : 10px;
            }
            .time {
                color : #999;
                margin-right : 20px;
                font-size : 13px;
            }
            .title-line {
                font-size : 13px;
            }
            .content {
                margin-top : 20px;
                font-size : 12px;
                display : none;
                .accounts {
                    border : solid 1px #EEE;
                    padding : 20px;
                    .unfollow,
                    .follow {
                        margin-top : 5px;
                    }
                    .info-box {
                        padding : 3px 0;
                        margin-left : 20px;
                        width : 470px;
                        .uname {
                            font-size : 16px;
                            color : #333;
                            font-weight : 700;
                            &:hover {
                                text-decoration : none;
                            }
                        }
                        .num-part,
                        .info-part,
                        .desc-part {
                            margin-top : 8px;
                            font-size : 12px;
                            span.sp {
                                margin : 0 5px;
                                font-size : 10px;
                                color : #CCC;
                                position : relative;
                                top : -2px;
                            }
                            .unknow {
                                color : #999;
                            }
                        }
                    }

                }
            }
        }
    }
}
