@import "variables";

html, body {
    font-size : 15px;
    font-family : "Microsoft YaHei", "微软雅黑","Hiragino Sans GB","黑体","arial";
    min-height : 100%;
    word-wrap : break-word;
    word-break : break-all;
}

#idizcuz {
    min-height : 100%;
}
.boxes {
    max-width : 100%;
    & > .inner {
        width : 300px;
        margin : 0 auto;
    }
    &.top {
        height : 50px;
        line-height : 50px;
        padding : 0 10px;
        position : relative;
        .logo-text {
            font-size : 16px;
            font-weight : bold;
        }
        .account {
            position : absolute;
            z-index : 10000;
            right : 0px;
            .msg-cnt {
                position : absolute;
                top : 5px;
                right : 5px;
                font-size : 10px;
                z-index : 100001;
                display : block;
                line-height : 14px;
                height : 14px;
                padding : 0 3px;
                background : $brandColor;
                color : #FFF;
            }
            > ul {
                text-align : center;
                > li {
                    line-height : 50px;
                    width : 60px;
                    position : relative;
                    box-sizing : border-box;
                    a {
                        display : block;
                        font-size : 12px;
                    }
                    .avatar {
                        vertical-align : middle;
                    }
                    ul {
                        border-top : solid 1px #EEE;
                        display : none;
                        li {
                            line-height : 40px;
                            border-bottom : solid 1px #EEE;
                            position : relative;
                            &:last-child {
                                border : 0;
                            }
                            .dot {
                                display : block;
                                position : absolute;
                                background : $brandColor;
                                width : 6px;
                                height : 6px;
                                line-height : 0;
                                font-size : 0;
                                -webkit-border-radius : 50%;
                                border-radius : 50%;
                                top : 10px;
                                left : 45px;
                            }
                        }
                    }
                    &:hover {
                        border : solid 1px #EEE;
                        border-top : 0;
                        background : #FFF;
                        ul {
                            display : block;
                        }
                    }
                }
            }
        }
    }
    &.sign-top {
        padding : 0 10px;
        height : 50px;
        line-height : 50px;
        background : $brandColor;
        .sign {
            a {
                color : #FFF;
                text-decoration : none;
            }
        }
        .logo-text {
            font-size : 16px;
            color : #FFF;
            font-weight : bold;
            font-style : italic;
        }
    }
    &.nav {
        background : $brandColor;
        height : 40px;
        line-height : 40px;
        ul li {
            float : left;
            a {
                color : #FFF;
                padding : 0 15px;
                font-size : 12px;
                line-height : 40px;
                display : block;
                &.focus {
                    background : $darkBrandColor;
                }
            }
        }
    }
    .rich-text {
        word-wrap : break-word;
        word-break : break-all;
        b {
            font-weight : bold!important;
        }
        img, video, embed, iframe {
            max-width : 100%; 
            margin : 10px 0 0 -2em;
        }   
        iframe, object, videw {
            max-height : 160px;
        }
        ol {
            li {
                line-height : 1.5em;
            }
            list-style-type : decimal;
            list-style-position : inside;
        }
        ul {
            li {
                line-height : 1.5em;
            }
            list-style-position : inside;
            list-style-type : square;
        }
    } 
    &.foot {
        border-top : solid 1px #EEE;
        border-bottom : solid 1px #EEE;
        background : #FAFAFA;
        margin-top : 20px;
        .slogan {
            min-width : 320px;
            min-height : 40px;
            background : url( @Static::images/slogan-fz.png ) no-repeat center;
            background-size : contain;
        }
    }
    .topics {
        padding : 5px;
        border-bottom : solid 1px #EEE;
        .first-line {
            color : #999;
            font-size : 12px;
            margin : 5px 0;
        }
        h2 {
            a { color : #333; }
        }
        .point-list {
            .points {
                line-height : 1.6em;
                margin : 5px 0;
                .point-data {
                    .aside {
                        width : auto;
                        float : left;
                        margin : 0 10px 0 0;
                    }
                    .main {
                        font-size : 12px;
                        text-align : right;
                    }
                }
            }
        }
        .desc {
            border : solid 1px #EEE;
            padding : 5px;
            p {
                display : none;
                &:first-child {
                    display : block;
                }
            }
            .bottom-line {
                font-size : 12px;
                text-align : right;
                margin : 5px 0;
            }
        }
        .open-topic {
            width : 100%;
            height : 40px;
            line-height : 40px;
            font-size : 14px;
            margin : 10px 0;
        }
    }
    .posts {
        padding : 10px 5px;
        border-bottom : dashed 1px #EEE;
        > .aside {
            width : auto;
            margin-left : 5px;
            .op-btn {
                width : 50px;
                display : block;
                font-size : 12px;
                margin-bottom : 5px;
                &.agree,
                &.disagree {
                    line-height : 16px;
                    height : 36px;
                }
                &.disagree {
                    color : #FFF;
                    background : #666;
                    border-color : #666;
                }
                b, span {
                    display : block;
                }
            }
        }
        > .main {
            h2 {
                line-height : 1.4em;
                margin-bottom : 5px;
                a {
                    color : #333;
                }
            }
            .info {
                color : #666;
                font-size : 12px;
                div {
                    margin : 3px 0;
                    line-height : 1.7em;
                }
                .aside {
                    float : left;
                    width : auto;
                    margin : 0;
                    
                }
            }
            .bottom-line {
                margin-top : 5px;
                .comments {
                    font-size : 12px;
                }
            }
            
        }
        .comment-box {
            display : none;
            .load-more {
                font-size : 12px;
                line-height : 40px;
                height : 40px;
                display : none;
            }
            li.empty {
                line-height : 40px;
                color : #999;
                padding-left : 10px;
            }
            .btns-line {
                margin-top : 5px;
                text-align : right;
               .clear {
                   margin-right : 10px;
                   font-size : 12px;
               }
            }
            textarea {
                width : 100%;
                height : 60px;
                border : solid 1px #EEE;
                outline : 0;
                &:focus {
                    background : #FFF;
                    border-color : #CCC;
                }
            }
            .hide{
                background : #FAFAFA;
            }
            .comment-form {
                margin-top : 10px;
            }
            .new-comment-list, 
            .comment-list {
                border : solid 1px #EEE;
                margin-top : 10px;
                .comment-item {
                    background : #FAFAFA;
                    border-bottom : solid 1px #EEE;
                    padding : 10px;
                    &:last-child {
                        border : 0;
                    }
                    .u-link {
                    }
                    .comment-text {
                        margin : 10px 0;
                    }
                    .op-line {
                        font-size : 12px;
                        color : #999;
                        a {
                            font-size : 12px;
                            margin-left : 5px;
                        }
                    }
                    .comment-form {
                        margin-top : 10px;
                        display : none;
                    }
                }
            }
        }
    }
    &.sub-nav {
        margin-top : 10px;
        border-bottom : solid 1px #EEE;
        height : 24px;
        ul {
            text-align : right;
            margin-right : 10px;
            li {
                display : inline-block;
                a {
                    display : block;
                    text-align : center;
                    font-size : 13px;
                    line-height : 24px;
                    padding : 0 12px;
                    &.focus {
                        border : solid 1px #EEE;
                        background : #FFF;
                        border-bottom : 0;
                    }
                }
            }
        }
    }
    .ucards {
        padding : 5px;
        border : solid 1px #EEE;
        .aside {
            width : 80px;
            float : left;
            margin : 0 10px 0 0;
        }
        .info-part {
            margin-top : 5px;
            font-size : 14px;
            line-height : 1.7em;
        }
        .num-part {
            font-size : 14px;
            line-height : 1.7em;
            b {
                color : $brandColor;
                margin-left : 3px;
            }
        }
    }
    &.tip {
        p {
            height : 40px;
            line-height : 40px;
            padding : 0 10px;
            text-align : center;
            color : $brandColor;
        }
        background : #FAFAFA;
        border-bottom : solid 1px #EEE;
    }
}
