@import "variables";

html, body {
    font-size : 15px;
    font-family : "Microsoft YaHei", "微软雅黑","Hiragino Sans GB","黑体","arial";
    min-height : 100%;
}

#idizcuz {
    min-height : 100%;
}
.boxes {
    max-width : 100%;
    & > .inner {
        width : 300px;
        margin : 0 auto;
    }
    &.top {
        height : 50px;
        line-height : 50px;
        padding : 0 10px;
        position : relative;
        .logo-text {
            font-size : 16px;
            font-weight : bold;
        }
        .account {
            position : absolute;
            z-index : 10000;
            right : 0px;
            > ul {
                text-align : center;
                > li {
                    line-height : 50px;
                    width : 60px;
                    position : relative;
                    box-sizing : border-box;
                    a {
                        display : block;
                        font-size : 12px;
                    }
                    .avatar {
                        vertical-align : middle;
                    }
                    ul {
                        border-top : solid 1px #EEE;
                        display : none;
                        li {
                            line-height : 40px;
                            border-bottom : solid 1px #EEE;
                            &:last-child {
                                border : 0;
                            }
                        }
                    }
                    &:hover {
                        border : solid 1px #EEE;
                        border-top : 0;
                        background : #FFF;
                        ul {
                            display : block;
                        }
                    }
                }
            }
        }
    }
    &.sign-top {
        padding : 0 10px;
        height : 50px;
        line-height : 50px;
        background : $brandColor;
        .sign {
            a {
                color : #FFF;
                text-decoration : none;
            }
        }
        .logo-text {
            font-size : 16px;
            color : #FFF;
            font-weight : bold;
            font-style : italic;
        }
    }
    &.nav {
        background : $brandColor;
        height : 40px;
        line-height : 40px;
        ul li {
            float : left;
            a {
                color : #FFF;
                padding : 0 15px;
                font-size : 12px;
                line-height : 40px;
                display : block;
                &.focus {
                    background : $darkBrandColor;
                }
            }
        }
    }
    &.body {
        margin-top : 10px;
    }
    .rich-text {
        word-wrap : break-word;
        word-break : break-all;
        b {
            font-weight : bold!important;
        }
        img {
            max-width : 100%; 
            margin : 10px 0;
        }   
        ol {
            li {
                line-height : 1.5em;
            }
            list-style-type : decimal;
            list-style-position : inside;
        }
        ul {
            li {
                line-height : 1.5em;
            }
            list-style-position : inside;
            list-style-type : square;
        }
    } 
}
