@import "compass/css3";

html, body {
    height : 100%;
}
#idizcuz {
    height : 100%;
    .scroll-bg {
        height : 100%;
        min-height : 700px;
        min-width : 990px;
        @include background-image( linear-gradient(
            left,
            rgba( 255, 0, 0, .5 ) 0%, rgba( 255, 0, 0, .5 ) 12.5%,
            rgba( 255, 215, 0, .5 ) 12.5%, rgba( 255, 215, 0, .5 ) 25%,
            rgba( 20, 118, 204, .5 ) 25%, rgba( 20, 118, 204, .5 ) 37.5%,
            rgba( 255, 165, 0, .5 ) 37.5%, rgba( 255, 165, 0, .5 ) 50%,
            rgba( 0, 128, 0, .5 ) 50%, rgba( 0, 128, 0, .5 ) 62.5%,
            rgba( 150, 110, 24, .5 ) 62.5%, rgba( 150, 110, 24, .5 ) 75%,
            rgba( 0, 200, 200, .5 ) 75%, rgba( 0, 200, 200, .5 ) 87.5%,
            rgba( 128, 0, 128, .5 ) 87.5%, rgba( 128, 0, 128, .5 ) 100%
        ) );  
        .inner {
            position : relative;
        }
    }
    .account-form-area {
        position : absolute;
        width : 400px;
        background : rgba( 255, 255, 255, .97 );
        top : 150px;
        right : 10px;
        padding-bottom : 30px;
        @include border-radius( 3px );
        @include box-shadow( 0px 0px 5px #999 );
        .logo-text {
            width : 300px;
            margin : 0 auto;
        }
        form.sign {
            width : 300px;
            display : block;
            margin : 0 auto;
            .btns.signin-btn,
            .btns.signup-btn,
            .btns.reset-btn {
                margin-top : 5px;
            }
            .line {
                position : relative;
                margin-bottom : 15px;
                .send-vcode {
                    position : absolute;
                    top : 0;
                    right : 0; 
                    height : 40px;
                    padding : 0 10px;
                    .resend-btn {
                        display : none;
                    }
                }
                .tip {
                    height : 40px;
                    line-height : 40px;
                    font-size : 10px;
                    padding : 0 10px;
                    display : none;
                    @include box-shadow( 0px 0px 10px #999 inset );
                    &.warn {
                        @include box-shadow( 0 0 10px #d94521 inset );
                        color : #d94521;
                        a {
                            color : #333;
                        }
                    }
                }
                .forget {
                    color : #CCC;
                    font-size : 12px;
                    position : absolute;
                    line-height : 40px;
                    top : 0;
                    right : 10px;
                    &:hover {
                        text-decoration : none;
                    }
                }
            }
        }   
        .logo-text {
            height : 85px;
            line-height : 85px;
        }
    }
}
