@import "compass/css3";
@import "variables";

#idizcuz {
    .info-form {
        .select-helper {
            border : solid 1px #B9B9B9;
            display : inline-block;
            @include border-radius( 2px );
            select {
                border : 0;
                min-width : 200px;
                background : none;
                padding : 10px;
                height : 40px;
                outline : 0;
                cursor : pointer;
                font-size : 13px;
                margin : 0;
            }
            &:hover {
                background : #FCFCFC;
            }
        }
        .parts {
            border-bottom : solid 1px #DDD;
            color : #666;
            padding : 25px 15px;
            .tip {
                font-size : 13px;
                margin-left : 10px;
                &.err {
                    color : $brandColor;
                }
            }
            .s-title {
                line-height : 40px;
                width : 100px;
                text-align : right;
                padding-right : 10px;
                font-size : 16px;
                @include box-sizing( border-box );
            }
            .sex-area {
                line-height : 40px;
            }
            .s-main {
                padding-left : 20px;
                width : 600px;
            }

            img.avatar {
                float : left;
                border : solid 1px #EEE;
            }

            .upload-btn {
                margin-left : 20px;
                float : left;
                position : relative;
                input[type=file] {
                    width : 80px;
                    height : 28px;
                    outline : 0;
                    position : absolute;
                    top : 0;
                    left : 0;
                    cursor : pointer;
                    @include opacity( 0 );
                }
            }

            label {
                cursor : pointer;
            }
        }
    }
    #upload-dialog {
        -webkit-user-select : none;
        > .inner {
            width : 300px;
            height : 380px;
            .img-area {
                width : 300px;
                height : 300px;
                overflow : hidden;
                .inner {
                    width : 240px;
                    heigth : 240px;
                    margin : 30px;
                    position : relative;
                }
                img {
                    position : absolute;
                }
            }
            .img-cover {
                position : absolute;
                cursor : move;
                top : 0;
                left : 0;
                width : 300px;
                height : 300px;
                border : solid 30px rgba( 255, 255, 255, .8 );
                @include box-sizing( border-box );
                @include box-shadow( 0 0 15px rgba(0,0,0,.5) inset );
                /*
                .progress {
                    text-align : center;
                    line-height : 300px;
                    font-size : 26px;
                    color : $brandColor;
                }
                */
            }
            .line {
                font-size : 0;
                line-height : 0;
                border-top : solid 1px #EEE;
            }
            .resize-area {
                width : 220px;
                margin : 10px auto;
                text-align : center;
                input[type=range] {
                    width : 180px; 
                    cursor : pointer;
                    outline : 0;
                }
            }
        }
    }
}
