@import "compass/css3";
@import "variables";

#idizcuz {
    .info-form {
        .parts {
            border-bottom : solid 1px #DDD;
            color : #666;
            padding : 25px 15px;
            .tip {
                font-size : 13px;
                margin-left : 10px;
                &.err {
                    color : $brandColor;
                }
            }
            .s-title {
                line-height : 40px;
                width : 100px;
                text-align : right;
                padding-right : 10px;
                font-size : 16px;
                @include box-sizing( border-box );
            }
            .sex-area {
                line-height : 40px;
            }
            .s-main {
                padding-left : 20px;
                width : 600px;
            }

            img.avatar {
                float : left;
                border : solid 1px #EEE;
            }

            .upload-btn {
                margin-left : 20px;
                float : left;
                position : relative;
                input[type=file] {
                    width : 80px;
                    height : 30px;
                    outline : 0;
                    position : absolute;
                    top : 0;
                    left : 0;
                    cursor : pointer;
                    @include opacity( 0 );
                }
            }
            label {
                cursor : pointer;
            }
            &.birth-area {
                .select-helper {
                    float : left;
                }
                select.birth {
                    min-width : 80px;
                }
                .st {
                    display : block;
                    float : left;
                    line-height : 40px;
                    margin : 0 10px;
                }
            }
        }
    }
    #upload-dialog {
        -webkit-user-select : none;
        > .inner {
            width : 300px;
            height : 390px;
            .img-area {
                width : 300px;
                height : 300px;
                overflow : hidden;
                .inner {
                    width : 240px;
                    height : 240px;
                    margin : 30px;
                    position : relative;
                }
                img {
                    position : absolute;
                    @include transform-origin( 0, 0 );
                }
            }
            .uploading-cover {
                position : absolute;
                cursor : wait;
                top : 0;
                left : 0;
                width : 300px;
                height : 300px;
                background : url( @Static::common::images/loading-circle.gif ) no-repeat center;
                z-index : 10000;
                display : none;
            }
            .img-cover {
                position : absolute;
                cursor : move;
                top : 0;
                left : 0;
                width : 300px;
                height : 300px;
                border : solid 30px rgba( 255, 255, 255, .8 );
                @include box-sizing( border-box );
                @include box-shadow( 0 0 15px rgba(0,0,0,.5) inset );
                /*
                .progress {
                    text-align : center;
                    line-height : 300px;
                    font-size : 26px;
                    color : $brandColor;
                }
                */
            }
            .line {
                font-size : 0;
                line-height : 0;
                border-top : solid 1px #EEE;
            }
            .resize-area {
                width : 220px;
                margin : 10px auto;
                text-align : center;
                input[type=range] {
                    width : 180px; 
                    cursor : pointer;
                    outline : 0;
                }
            }
        }
    }
}
