@import "variables";

#idizcuz {
    .message-list {
        padding : 0 5px;

        .messages {
            padding : 10px 0;
            border-bottom : dashed 1px #EEE;
            &>p {
                font-weight : bold;
            }
        }
        .title-line {
            margin-top : 10px;
            font-size : 14px;
            line-height : 1.4em;
        }
        .content {
            margin : 10px 10px 0;
            padding : 5px;
            background : #FAFAFA;
        }
    }
}
