<!DOCTYPE html>
<html>
    <head>
        <?php 
            $title='每日论点 • iDizcuz - 成为理性且有思想的人';
            $nav = 'activities';
        ?>
        @Include::common::head.inc.html
        <link rel="stylesheet" href="@Static::common::css/post.css" />
        <link rel="stylesheet" href="@Static::css/activities.css" />
    </head>
    <body>
        <div id="idizcuz">
            @Include::common::top.inc.html

            <div class="boxes body clearfix">
                <div class="inner">
                    <div class="aside">
                        <?php if( $account ) { ?>
                            @Include::common::userpages.inc.html
                        <?php } else { ?>
                            @Include::common::signin.inc.html
                        <?php } ?>
                    </div>
                    <div class="main main-part">
                        <ul class="new-post-list"></ul>
                        <a class="load-more">
                            加载更多动态
                            <i class="fa fa-angle-double-down"></i>
                        </a>

                    </div>
                </div>
            </div>
            @Include::common::foot.inc.html
        </div>
        <textarea class="templates" id="new-accounts-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { var item = data[i]; %>
                <li>
                    <div class="new-accounts clearfix">
                        <a href="/user/activities/<%=item.id %>" class="avatar smaller l" style="<% if( item.img ) { %>background-image:url(http://avatar.idizcuzz.com/<%-item.img%>)<% } %>"></a>
                        <div class="uname-area l">
                            <% if( item.sex == 1 ) { %>
                                <i class="fa fa-mars male"></i>
                            <% } else if( item.sex == 2 ) { %>
                                <i class="fa fa-venus female"></i>
                            <% } %>
                            <a href="/user/activities/<%=item.id %>" class="uname"><%-item.uname %></a>
                            <a href="###" class="btns follow">关注</a>
                        </div>
                    </div>
                </li>
            <% } %>
        </textarea>
        <textarea class="templates" id="new-posts-tpl">
            <% if( !data.length ) { %>
                <li>
                    <p class="empty">
                        暂时没有最新论述动态
                    </p>
                </li>
            <% } else { %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var post = data[i]; %>
                    <li>
                        @Include::common::post.tpl.html
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <li>
                    @Include::common::comment.tpl.html
                </li>
            <% } %>
        </textarea>
        <script src="@Static::common::js/ZeroClipboard.js"></script>
        <script src="@Static::common::js/qrcode.js"></script>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'posts', '@Package::Posts' );

            idizcuz.mount( 'operate', '@Package::common::PostOperate', {
                signin : +'<?php echo $account ? 1 : 0; ?>',
                fullFunction : false
            } );
            idizcuz.mount( 'comments', '@Package::common::Comments', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'share', '@Package::common::Share', {} );
            idizcuz.mount( 'copy', '@Package::common::Copy', {} );
        </script>
        @Include::common::end.inc.html
    </body>
</html>
