@import "variables";

#idizcuz {
    .boxes.slides {
        width : 100%;
        overflow : hidden;
        position : relative;
        ul.slide-content {
            width : 1000%;
            height : 150px;
            -webkit-transition : margin-left ease-in-out .5s;
            transition : margin-left ease-in-out .5s;
            li {
                width : 10%;
                top : 0;
                left : 0;
                height : 100%;
                float : left;
                a {
                    display : block;
                    height : 100%;
                    background-position : center;
                    background-repeat : no-repeat;
                    -webkit-background-size : cover;
                    background-size : cover;
                }
            }
        }
        ul.slide-nav {
            text-align : center;
            position : absolute;
            bottom : 10px;
            width : 100%;
            li {
                display : inline;
                margin : 0 2px;
                b {
                    width : 16px;
                    height : 6px;
                    display : inline-block;
                    background : #FFF;
                    font-size : 0;
                    line-height : 0;
                }
                &.focus b {
                    background : $brandColor;
                }
            }
        }
    }
    .topics {
        .desc {
            border : 0;
            padding : 0;
        }
    }
}
