@import "variables";
#idizcuz {
    .boxes.user {
        border : solid 1px #EEE;
        border-left : 0;
        border-right : 0;
        .lines {
            margin : 5px 0;
        }
        background : #FAFAFA;
        text-align : center;
        padding : 10px 0;
        .uname {
            display : block;
            margin : 5px 0;
        }
        .num-part {
            border-top : 0;
            border-bottom : 0;
            .piece {
                display : block;
                float : left;
                width : 20%;
                -webkit-box-sizing : border-box;
                box-sizing : border-box;
                text-align : center;
                line-height : 18px;
                b, span {
                    display : block;
                    font-size : 12px;
                }
            }
        }
    }
    .sub-nav {
        margin-top : 10px;
        border-bottom : solid 1px #EEE;
        height : 24px;
        ul {
            text-align : right;
            margin-right : 10px;
            li {
                display : inline-block;
                a {
                    display : block;
                    text-align : center;
                    font-size : 13px;
                    line-height : 24px;
                    padding : 0 12px;
                    &.focus {
                        border : solid 1px #EEE;
                        background : #FFF;
                        border-bottom : 0;
                    }
                }
            }
        }
    }
    .activity-list {
        margin-top : 10px;
        li {
            padding : 15px 5px;
            &.empty {
                color : #999;
            }
            &.activities {
                border-bottom : dashed 1px #EEE;
                .hline {
                    font-size : 12px;
                    color : #999;
                    margin-bottom : 10px;
                }
                .posts {
                    border : 0;
                    padding : 0;
                }
                .relation_post {
                    margin-top : 5px;
                    p {
                        font-size : 12px;
                    }
                }
            }
        }
    }
    li.empty {
        margin-top : 20px;
        padding : 0 5px;
        font-size : 14px;
        color : #999;
    }
    .ucards {
        padding : 5px;
        border : solid 1px #EEE;
        .aside {
            width : 80px;
            float : left;
            margin : 0 10px 0 0;
        }
        .info-part {
            margin-top : 5px;
            font-size : 14px;
            line-height : 1.7em;
        }
        .num-part {
            font-size : 14px;
            line-height : 1.7em;
            b {
                color : $brandColor;
                margin-left : 3px;
            }
        }
    }
    .account-list {
        margin-top : 10px;
        li {
            border-bottom : dashed 1px #EEE;
            padding : 10px 5px;
            .ucards {
                border : 0;
            }
        }
    }
}
