@import "variables";

html,body {
    height : 100%;
}
#idizcuz {
    height : 100%;
    .boxes.sign {
        padding-bottom : 15px;
        input[type=text],
        input[type=password] {
            width : 100%;
            border-bottom : solid 1px #EEE;
        }
        .btn-line {
            height : 40px;
            line-height : 40px;
            border-bottom : solid 1px #EEE;
            position : relative;
            .btns {
                height : 30px;
                line-height : 30px;
                min-width : 80px;
                position : absolute;
                top : 5px;
                right : 5px;
            }
        }
        .warn {
            text-align : center;
            color : $brandColor;
            font-size : 12px;
            background : #FFFFD1;
            line-height : 40px;
            border-bottom : solid 1px #EEE;
            display : none;
            padding : 0 15px;
        }
        .tip {
            font-size : 12px;
            text-align : center;
            margin-top : 15px;
            line-height : 1.5em;
            padding : 0 5%;
            text-align : center;
            span {
                font-size : 10px;
                position : relative;
                top : -2px;
                color : #999;
                margin : 0 5px;
            }
        }
        form.signin {
            .btn-line {
                padding-left : 10px;
                label {
                    color : #999;
                }
            }
        }
        form.signup,
        form.forget {
            .email-line {
                position : relative;
                .send {
                    position : absolute;
                    right : 5px;
                    top : 5px;
                    height : 30px;
                    line-height : 30px;
                }
            }
        }
    }
}
