#idizcuz {
    min-height : 100%;

    .boxes {
        .inner {
            width : 990px;
            margin : 0 auto;
            background : #FFF;
        }
    }
    .logo-text { 
        font-size : 30px;
        font-weight : bold;
        font-style : italic;
        font-family : Arial;
    }
}
