@import "variables";

#idizcuz {
    .boxes.article {
        .hd {
            padding : 5px;
            background : #FAFAFA;
            border-bottom : solid 1px #EEE;
            h1 {
                font-size : 17px;
                line-height : 1.5em;
            }
            .info {
                font-size : 13px;
                color : #999;
            }
        }
        .topic-area {
            line-height : 1.5em; 
            padding : 5px;
        }
        .content {
            font-size : 14px;
            padding : 5px;
            line-height : 1.5em;
            margin : 5px;
            border : dashed 1px #EEE;
            p {
                text-indent : 2em;
                margin : 5px 0;
                img {
                    margin-left : -2em;
                }
            }
            h1, h2, h3 {
                font-weight : bold!important;
            }
        }
        .bridge {
            margin-top : 10px;
            padding : 0 5px;
            line-height : 1.6em;
        }
    }

    .boxes.related-part {
        border-top : dashed 1px #EEE;
        margin-top : 20px;
        padding : 20px 5px;
        .articles {
            margin-bottom : 10px;
        }
        .aside {
            margin : 0 10px 0 0;
            width : 80px;
            height : 60px;
            float : left;
            a.cover {
                width : 100%;
                height : 100%;
                background-repeat : no-repeat;
                background-position : center;
                -webkit-background-sizing : cover;
                background-sizing : cover;
                background-color : #EEE;
                display : block;
            }
        }
        h2 {
            font-size : 14px;
            line-height : 1.4em;
            a {
                color : #333;
            }
        }
        .detail {
            color : #999;
            font-size : 12px;
            margin-top : 5px;
        }
    }
}
