@import "compass/css3";
@import "variables";

#idizcuz {
    >.main {
        padding : 20px;
        .article-form {
            .block {
                label {
                    margin-right : 15px;
                }
            }
            label {
                display : block;
                margin-bottom : 20px;
                .s-title {
                    font-size : 16px;
                    line-height : 30px;
                    padding-left : 3px;
                    color : #666;
                }
                input[type=text] {
                    width : 800px;
                    font-size : 12px;
                    &.origin,
                    &.author,
                    &.time {
                        width : 180px;
                    }
                    &.topic_id {
                        width : 100px;
                    }
                }
                .preview-img {
                    img {
                        width : 140px;
                        height : 80px;
                    }
                }
                
            }
            .btn-line {
                margin-top : 20px;
            }
        }
        #editor {
            width : 800px;
        }
        #textbox {
            label {
                margin-bottom : 0;
            }
        }
    }
}
