@import "compass/css3";

#idizcuz {
    .events-list {
        padding : 20px;
        li {
            margin-bottom : 15px;
            .topline {
                height : 40px;
                background : #EEE;
                color : #333;
                border : solid 1px #EEE;
                line-height : 40px;
                padding : 0 10px;
            }
            .event-content {
                padding : 15px;
                border : solid 1px #EEE;
            }

            .event-info {
                border : solid 1px #EEE;
                border-top : 0;
                padding : 15px;
                line-height : 25px;
            }
            .btn-line {
                padding : 15px;
                border : solid 1px #EEE;
                border-top : 0;
            }
        }
    }
}
