@import "compass/css3";
@import "variables";

#idizcuz {
    > .aside {
        float : left;
        margin : 0;
        width : 180px;
        background : $brandColor;
        a {
            color : #FFF;
            display : block;
            height : 40px;
            line-height : 40px;
            padding-left : 15px;
            border-bottom : solid 1px $darkBrandColor;
            &:hover {
                text-decoration : none;
                background : $darkBrandColor;
            }
            &.focus {
                color : $brandColor;
                background : #FFF;
            }
        }
        li {
            display : block;
            ul {
                li {
                    a {
                        padding-left : 25px;
                    }
                }
            }
        }
        i.flip {
            @include transform( rotateY( 180deg ) );
        }
    }
    > .main {
        position : relative;
        margin-top : 40px;
    }
    .empty {
        line-height : 100px;
        text-align : center;
        color : #999;
    }
}
