@import "compass/css3";
@import "variables";

#idizcuz {
    #top {
        height : 40px;;
        line-height : 40px;
        background : $brandColor;
        padding : 0 20px;
        top : 0;
        left : 0;
        width : 100%;
        border-bottom : solid 1px $darkBrandColor;
        z-index : 10;
        @include box-sizing( border-box );
        .top-title {
            font-size : 16px;
            color : #FFF;
            margin-left : 20px;
        }
    }
    .main {
        position : relative;
        margin-top : 40px;
        .sidebar {
            position : fixed;
            padding-top : 40px;
            top : 0;
            bottom : 0;
            width : 180px;
            background : $brandColor;
            overflow : auto;
            a {
                color : #FFF;
                display : block;
                height : 40px;
                line-height : 40px;
                padding-left : 15px;
                border-bottom : solid 1px $darkBrandColor;
                &:hover {
                    text-decoration : none;
                    background : $darkBrandColor;
                }
                &.focus {
                    color : $brandColor;
                    background : #FFF;
                }
            }
            li {
                display : block;
                a {
                }
                ul {
                    li {
                        a {
                            padding-left : 25px;
                        }
                    }
                }
            }
            i.flip {
                @include transform( rotateY( 180deg ) );
            }
        }
        .core {
            margin-left : 180px;
        }
    }
}
