@import "compass/css3";
@import "variables";

#idizcuz {
    .load-more {
        display : none;
    }
    .new-accounts {
        padding : 20px 0;
        border-bottom : solid 1px #EEE;
        .avatar {
            @include border-radius( 50% );
        }
        > div {
            width : 125px;
            margin-left : 10px;
            padding : 10px 0;
            .uname {
                margin-top : 15px;
                word-wrap : break-word;
                word-break : break-all;
            }
            .follow,
            .unfollow {
                display : block;
                margin-top : 15px;
            }
        }
    }
    .posts {
        padding : 10px 0;
        border-bottom : solid 1px #eee;
        margin-bottom : 20px;
        .data-line {
            position : relative;
            .operates {
                margin-top : 35px;
                a {
                    font-size : 12px;
                    color : #666;
                    margin-right : 10px;
                }
            }
            .vote {
                a.btns {
                    display : block;
                    margin-bottom : 5px;
                    font-size : 10px;
                    &.disagree {
                        background : #666;
                        border-color : #666;
                    }
                }
            }
            .title {
                margin-left : 10px;
                h2 {
                    line-height : 27px;
                    a {
                        color : #333;
                        &:hover {
                            color : $brandColor;
                        }
                    }
                }
                .uname {
                    color : #999;
                    line-height : 22px;
                    margin-bottom : 5px;
                    font-size: 12px;
                    span {
                        margin-left : 10px;
                    }
                }
            }
            .op-unmark {
                i {
                    color : $brandColor;
                }
            }
        }
        .topic-line {
            margin-top : 20px;
        }
        .contents {
            margin : 15px 0;
            word-wrap : break-word;
        }
        .bottom-line {
            color : #999;
            font-size : 12px;
            .mtime,
            .comments {
                margin-left : 5px;
                color : #999;
            }
        }
    }
    .empty {
        line-height : 80px;
        text-align : center;
        color : #999;
    }

}
