<!DOCTYPE html>
<html>
    <head>
        @Include::commonMobile::head.inc.html
        <link rel="stylesheet" href="@Static::css/user.css" />
        <link rel="stylesheet" href="@Static::commonMobile::css/post.css" />
    </head>
    <body>
        <div id="idizcuz">
            @Include::commonMobile::top.inc.html
            @Include::commonMobile::nav.inc.html
            <?php if( !$account ) { ?>
                @Include::accountMobile::signin.inc.html
            <?php } ?>
            @Include::card.inc.html
            @Include::subnav.inc.html
            <div class="boxes">
                <ul class="activity-list"></ul>
                <div class="btns load-more">点击加载更多</div>
            </div>
            <div class="boxes bottom-fixed-bar">
                <a href="http://www.idizcuz.com" class="logo l">每日论点 • iDizcuz</a>
                <a href="###" class="item scroll-top"><i class="fa fa-eject"></i></a>
            </div>
            @Include::commonMobile::foot.inc.html
        </div>
        <textarea class="templates" id="activity-list-tpl">
            <% if( !data.length ) { %>
                <li class="empty">没有更多用户动态</li>
            <% } else { %>
                <% var txts = { 
                    '0' : '发布了新的论述', 
                    '1' : '支持了论述',
                    '2' : '反对了论述',
                    '3' : '评论了论述',
                    '5' : '加入了 每日论点 • iDizcuz'
                }; %>
                <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                    <% var item = data[i], type = item.type; %>
                    <li class="activities">
                        <div class="hline clearfix">
                            <span class="date r"><%=item.ctime.substr(0,10) %></span>
                            <a href="/user/activities/<%=item.account_id %>"><%-item.account.uname %></a>
                            <% if( type == 4 ) {%>
                                关注了 
                                <% if( item.extra.isself ) { %>
                                    <span>我</span>
                                <% } else { %>
                                    <a href="/user/activities/<%=item.extra.id %>"><%-item.extra.uname %></a>
                                <% } %>
                            <% } else { %>
                                <%=txts[type] %>
                            <% } %>
                        </div>
                        <div class="extra">
                            <% if( type == 0 || type == 1 || type == 2 ) { %>
                                <% var post = item.extra; %>
                                <% if( !post ) { %>
                                    <p class="empty">此论述不存在或已经被删除</p>
                                <% } else { %>
                                    @Include::commonMobile::post.inc.html
                                <% } %>
                            <% } else if( type == 3 ) {%>
                                <% var comment = item.extra; %>
                                <div class="extra-comments">
                                    <p>
                                        <b class="gruy-title">评论内容：</b>
                                        <i class="fa fa-quote-left fa-quotes"></i> 
                                        <%-comment.content %>
                                        <i class="fa fa-quote-right fa-quotes"></i> 
                                    </p>
                                </div>
                                <% if( comment.post ) { %>
                                    <div class="relation_post">
                                        <p><b class="gruy-title">论述：</b><a href="/post/<%=comment.post.id %>"><%-comment.post.title %></a></p>
                                    </div>
                                <% } %>
                            <% } else if( type == 4 || type == 5 ) {%>
                                <% var card = item.extra; %>
                                @Include::commonMobile::hcard.inc.html
                            <% } %>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </textarea>
        <textarea class="templates" id="comment-list-tpl">
            <% for( var i = 0, l = data.length; i < l; i += 1 ) { %>
                <% var comment = data[i]; %>                
                @Include::commonMobile::comment.inc.html
            <% } %>
        </textarea>
        <script>
            var idizcuz = new J();
            idizcuz.mount( 'activities', '@Package::Activities', {
                accountId : '<?php echo $account['id']; ?>',
                userId : '<?php echo $user['id']; ?>',
                self : +'<?php echo $account['id'] == $user['id'] ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'postoperate', '@Package::commonMobile::PostOperate', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'comments', '@Package::commonMobile::Comments', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'follow', '@Package::commonMobile::Follow', {
                signin : +'<?php echo $account ? 1 : 0; ?>'
            } );
            idizcuz.mount( 'bottomfixedbar', '@Package::commonMobile::BottomFixedBar', {
                start : 500 
            } );
        </script>
        @Include::commonMobile::end.inc.html
    </body>
</html>
