@import "compass/css3";
@import "variables";

#idizcuz {
    .body {
        .list-area {
            ul.topic-list {
                > li {
                    padding : 20px 0;
                    border-bottom : dashed 1px #EEE;
                    h3 {
                        line-height : 40px;
                        a {
                            color : #333;
                            font-size : 18px;
                        }
                    }
                    .data {
                        line-height : 30px;
                        color : #999;
                        span {
                            margin-right : 15px;
                            &:first-child {
                                margin-right : 0;
                            }
                        }
                    }
                    .desc {
                        padding : 10px;
                        background : #FAFAFA;
                        color : #666;
                        text-indent : 2em;
                    }
                }
            }
        }
    }
}
