@import "compass/css3";
@import "variables";

#idizcuz {
    .boxes {
        &.top {
            color : #FFF;
            .inner {
                position : relative;
            }
            .account {
                position : absolute;
                right : 0;
                top : 0;
                li {
                    line-height : 59px;
                    height : 59px;
                    width : 150px;
                    background : $brandColor;
                    a {
                        color : #FFF;
                        display : block;
                        padding-left : 10px;
                        &:hover {
                            text-decoration : none;
                        }
                    }
                    ul {
                        display : none;
                        li {
                            height : 40px;
                            line-height : 40px;
                            background : $darkBrandColor;
                            border-top : solid 1px #a52e11;
                            &:hover {
                                background : $highligBrandColor;
                            }
                        }
                    }
                    &:hover {
                        background : $darkBrandColor;
                        ul {
                            display : block;
                        }
                    }
                }
            }
            .sign {
                position : absolute;
                right : 0;
                top : 0;
                a,
                span {
                    color : #FFF;
                }
                span {
                    font-size : 12px;
                }

            }
        }
        &.main {
            .topic-area {
                width : 765px;
                .title-line {
                    height : 40px;
                    line-height : 40px;
                    .date-selector {
                        margin-top : 10px;
                        a {
                            display : block;
                            float : left;
                            height : 22px;
                            line-height : 22px;
                            &.date {
                                margin : 0 5px;
                            }
                        }
                    }
                }
                .point {
                    padding : 10px;
                    border : solid 1px #EEE;
                    background : #FAFAFA;
                    margin : 15px 0;
                }
                .detail-line {
                    .media {
                        margin : 5px 10px 5px 0;
                    }
                    .desc {
                        p {
                            text-indent : 2em;
                        }
                    }
                    
                }
                .list-area {
                    .operate-line {
                        height : 30px;
                        line-height : 30px;
                        border-bottom : solid 1px #EEE; 
                        padding : 0 10px;
                        font-size : 12px;
                        margin : 15px 0 10px;
                        .count {
                            i {
                                color : $brandColor;
                            }
                        }
                        ul {
                            li {
                                float : left;
                                a {
                                    display : block;
                                    padding : 0 20px;
                                    color : #333;
                                    &:hover {
                                        text-decoration : none;
                                    }
                                    &.focus {
                                        border : solid 1px #EEE;
                                        border-bottom : 0;
                                        color : $brandColor;
                                        background : #FFF; 
                                    }
                                }
                            }
                        }
                    }

                    .loading-list {
                        height : 40px;
                        line-height : 40px;
                        text-align : center;
                        color : $brandColor;
                    }

                    .post-list {
                        li.posts {
                            padding : 10px 0;
                            border-bottom : solid 1px #eee;
                            margin-bottom : 20px;
                            .data-line {
                                position : relative;
                                .operates {
                                    margin-top : 35px;
                                    a {
                                        font-size : 12px;
                                        color : #666;
                                        margin-right : 10px;
                                    }
                                }
                                .vote {
                                    a.btns {
                                        display : block;
                                        margin-bottom : 5px;
                                        font-size : 10px;
                                        &.disagree {
                                            background : #666;
                                            border-color : #666;
                                        }
                                    }
                                }
                                .title {
                                    margin-left : 10px;
                                    h2 {
                                        line-height : 27px;
                                    }
                                    .uname {
                                        color : #999;
                                        line-height : 22px;
                                        margin-bottom : 5px;
                                        font-size: 12px;
                                        span {
                                            margin-left : 10px;
                                        }
                                    }
                                }
                                .op-unmark {
                                    i {
                                        color : $brandColor;
                                    }
                                }
                            }
                            .op-bubbles {
                                margin : 20px 0;
                                display : none;
                                .qrcode {
                                    width : 120px;
                                    height : 120px;
                                    img {
                                        width : 100%;
                                        height : 100%;
                                    }
                                }
                                .share-part {
                                    width : 610px;
                                    height : 120px;
                                    padding-left : 10px;
                                    .share-link {
                                        .line {
                                            font-size : 14px;
                                            margin-top : 10px;
                                            line-height : 28px;
                                            .link {
                                                width : 400px;
                                                color : #999;
                                                background : #CCC;
                                                padding-left : 10px;
                                                &:hover {
                                                    text-decoration : none;
                                                }
                                            }
                                            .btns {
                                                margin-left : 10px;
                                            }
                                        }
                                    }
                                }
                                .report {
                                    color : #999;
                                    .reasons {
                                        label {
                                            display : block;
                                            height : 30px;
                                            line-height : 30px;
                                            font-size : 12px;
                                            margin-right : 20px;
                                            cursor : pointer;
                                        }
                                    }
                                    .desc-area {
                                        width : 500px;
                                        textarea {
                                            display : block;
                                            width : 100%;
                                            height : 80px;

                                        }
                                        .alert {
                                            line-height : 30px;
                                            text-align : right;
                                        }
                                        .btn-line {
                                            text-align : right;
                                        }
                                    }
                                }
                            }
                            .contents {
                                margin : 15px 0;
                                p {
                                    text-indent : 2em;
                                }
                            }
                            .bottom-line {
                                color : #999;
                                font-size : 12px;
                                .mtime,
                                .comments {
                                    margin-left : 5px;
                                    color : #999;
                                }
                            }
                        }
                    }
                    .textbox {
                        margin-top : 20px;
                        #editor {
                            width : 100%;
                            height : 300px;
                        }
                        .not-login-editor {
                            border : solid 1px #d4d4d4;
                            width : 100%;
                            height : 200px;
                            text-align : center;
                            p {
                                line-height : 200px;
                            }
                        }
                    }

                }
                .submit-line {
                    margin-top : 15px;
                    p {
                        display : block;
                        float : left;
                        height : 40px;
                        line-height : 40px;
                        &.post-tip {
                            width : 200px;
                            color : #999;
                        }
                        &.post-warn {
                            width : 350px;
                            color : $brandColor;
                            text-align : right;
                            padding-right : 15px;
                        }
                    }
                    .public {
                        float : right;
                    }
                }

            }
            .sidebar {
                width : 220px;
                .about-idizcuz,
                .new-post {
                    text-align : center;
                    padding : 10px;
                    background : #FAFAFA;
                    .btns {
                        margin : 0 auto;
                        display : block;
                    }
                }
            }
        }
    }
}
