@import "compass/css3";
@import "variables";

#idizcuz {
    .boxes {
        &.body {
            .topic-area {
                .empty {
                    line-height : 80px;
                    color : #999;
                    text-align : center;
                    margin-bottom : 100px;
                }
                
                .target-post {
                    .removed {
                        border-top : solid 3px $brandColor;
                        line-height : 260px;
                        text-align : center;
                        color : #999;
                    }
                    .bridge {
                        height : 60px;
                        line-height : 60px;
                        text-align : center;
                        border : solid 1px #EEE;
                        color : $highlightBrandColor;
                        margin-bottom : 15px;
                        a {
                            font-size : 13px;
                            color : #999;
                        }
                    }
                }
                .title-line {
                    line-height : 40px;
                    a.more {
                        display : block;
                        float : left;
                        height : 22px;
                        line-height : 22px;
                        &.date {
                            margin : 0 5px;
                        }
                    }
                    h1 {
                        height : 40px;
                    }
                    .info {
                        margin-top : 10px;
                        span {
                            margin-right : 15px;
                            color : #666;
                        }
                    }
                }
                .desc {
                    padding : 15px;
                    border : solid 1px #EEE;
                    background : #FAFAFA;
                    margin : 15px 0;
                    p {
                        text-indent : 2em;
                    }
                    ul {
                            list-style : square inside;
                            li {
                                line-height : 26px;
                            }
                        }

                    .bottom-line {
                        text-align : right;
                        padding : 10px;
                    }
                }
                .list-area {
                    .operate-line {
                        height : 32px;
                        line-height : 32px;
                        border-bottom : solid 1px #EEE; 
                        padding : 0 10px;
                        margin : 15px 0 10px;
                        .count {
                            float : left;
                        }
                        .filter-box {
                            float : right;
                            margin-right : 10px;
                            .filter-list {
                                border-top : solid 1px #EEE;
                                position : absolute;
                                display : none;
                                z-index : 1100;
                            }
                            a {
                                display : block;
                                width : 32px;
                                height : 32px;
                                background : #FFF;
                                text-align : center;
                                color : #666;
                                border : solid 1px #EEE;
                                border-top : 0;
                                cursor : pointer;
                                i {
                                    font-size : 16px;
                                    font-style : italic;
                                    position : relative;
                                    left : -2px;
                                    top : 2px;
                                }
                                &.current {
                                    border-top : solid 1px #EEE;
                                    border-bottom : 0;
                                }
                                &:hover {
                                    background : #FAFAFA;
                                }
                            }
                        }
                        .sort-list {
                            li {
                                float : left;
                                a {
                                    display : block;
                                    padding : 0 20px;
                                    color : #333;
                                    &:hover {
                                        text-decoration : none;
                                    }
                                    &.focus {
                                        border : solid 1px #EEE;
                                        border-bottom : 0;
                                        color : $brandColor;
                                        background : #FFF; 
                                    }
                                }
                            }
                        }
                    }
                    .post-list {
                        min-height : 100px;
                    }
                }
                .pagination {
                    display : none;
                    border-bottom : solid 1px #EEE;
                    padding-bottom : 20px;
                }
                .topic-line {
                    display : none;
                }
            }
        }
    }
    
}
#complain-box {
    display : none;
    position : absolute;
    background : #FFF;
    top : 0;
    left : 0;
    padding : 10px;
    border : solid 1px #EEE;
    @include border-radius( 3px );
    @include box-shadow( 0 1px 2px #DDD );
    label {
        display : block;
        line-height : 26px;
        font-size : 12px;
        cursor : pointer;
    }
    textarea {
        display : block;
        width : 240px;
        height : 80px;
    }
    .op-line {
        margin-top : 10px;
        text-align : right;
        a.cancel {
            margin-right : 10px;
            color : #999;
        }
    }
}
.side-nav-bar {
    .bubbles {
        position : absolute;
        z-index : 1000;
        display : none;
        top : 0;
        width : 95px;
        right : 60px;
        height : 50px;
        > .triangle {
            top : 12px;
        }
        p { 
            line-height : 50px;
            text-align : center;
        }
    }
    .item {
        &.write-post {
            a {
                i {
                    font-size : 24px;
                    line-height : 50px;
                }
            }
        }
        &:hover {
            .bubbles {
                display : block;
            }
        }
    }
}
#remove-post-dialog {
    > .inner {
        height : 190px;
        .text {
            height : 110px;
            padding : 15px;
            p:first-child {
                font-size : 18px;
                line-height : 30px;
            }
            p.success,
            p.fail {
                display : none;
            }
        }
    }
}
#editor-dialog {
    > .inner {
        margin-top : 40px;
        width : 1100px; /* 1000px in 1024 */
        height : 620px;
        #editor-float-box {
            width : 1040px;
            margin : 20px auto;
            overflow : hidden;
            input.title {
                width : 700px;
            }
            #editor {
                height : 370px!important;
                @include box-sizing( border-box );
            }
            .edui-container {
                width : 100%!important;
            }
        }
    }
}
#editor-inflow-box {
    width : 983px!important;
    margin-top : 20px;
    .edui-container {
        width : 100%!important;
    }
}
#editor-area {
    .line {
        span, input, a {
            display : block;
            float : left;
            line-height : 40px;
        }
        span.s-post-title {
            width : 80px;
        }
        span.s-agree-title {
            width : 120px;
            margin-left : 15px;
        }

        .i-agree {
            font-size : 16px;
            color : #333;
            margin-left : 0;
            padding : 0 13px;
            text-align : center;
            position : relative;
            border : solid 1px #FFF;
            border-right : solid 3px #FFF;
            .point-selector {
                display : none;
                position : absolute;
                z-index : 10000;
                background : #FFF;
                text-align : left;
                right : -3px;
                top : 41px;
                width : 660px;
                i {
                    font-size : 16px;
                }
                li {
                    text-align : right;
                    border-left : solid 1px #EEE;
                    border-right : solid 3px $brandColor;
                }
                .points {
                    padding : 0 10px;
                }
            }
            i {
                font-style : italic;
            }
            &.hover {
                border-right-color : $brandColor;
                .point-selector {
                    display : block;
                }
            }
        }

        input {
            &.title,
            &.to {
                width : 700px; /* 500px in 1024 */
            }
        }
        a {
            margin-left : 10px;
        }
        .to-line {
            display : none;
            a.to-title {
                max-width : 600px;
                height : 40px;
                overflow : hidden;
            }
        }
    }
    
    .textbox {
        margin-top : 20px;
        #editor {
            width : 100%!important;
        }
        .not-login-editor {
            border : solid 1px #d4d4d4;
            width : 100%;
            height : 200px;
            text-align : center;
            p {
                line-height : 200px;
            }
        }
    }
    .tip-line {
        margin-top : 10px;
        input.imagecode {
            width : 100px;
        }
        img {
            border : solid 1px #EEE;
            height : 38px;
            margin : 0 10px;
            cursor : pointer;
        }
    }
    .submit-line {
        margin-top : 10px;
        p {
            line-height : 40px;
            &.post-warn {
                color : $brandColor;
                text-align : right;
                padding-right : 15px;
            }
        }
    }
}

.point-area {
    ul {
        li {
            border : solid 1px #EEE;
            border-left : solid 3px $brandColor;
            margin-top : 5px;
            .points {
                display : block;
                color : #333;
                /*height : 40px;*/
                line-height : 40px;
                cursor : pointer;
                font-size : 13px;
                .title {
                    padding-left : 10px;
                }
                &:hover {
                    text-decoration : none;
                }
                i {
                    font-style : italic;
                    margin-right : 5px;
                    font-size : 14px;
                }
                .point-data {
                    font-size : 12px;
                    padding : 0 10px;
                    .index:hover {
                        text-decoration : none; 
                    }
                    .base-data {
                        padding : 0 5px;
                        margin-right : 15px;
                        display : inline-block;
                        border-left : solid 1px #EEE;
                        border-right : solid 1px #EEE;
                        position : relative;
                        background : #FAFAFA;
                        span {
                            margin : 0 10px;
                        }
                        .triangle {
                            position : absolute;
                            border : solid 8px transparent;
                            border-left-color : #EEE;
                            right : -17px;
                            top : 12px;
                            font-size : 0;
                            line-height : 0;
                            .triangle {
                                top : -8px;
                                left : -10px;
                                border-left-color : #FAFAFA;
                            }
                        }
                    }
                }
            }
            &:hover {
                background : #FAFAFA;
            }
        }
        &.split-point-list {
            display : none;
            .point-data {
                line-height : 30px;
                background : #FAFAFA;
                text-align : right;
                border-top : solid 1px #EEE;
                span {
                    margin-right : 20px;
                }
            }

        }
    }
}
/* style while viewport < 1280 */
@media screen and (max-width : 1280px ) {
    .point-area {
        ul {
            display : none;
            &.split-point-list {
                display : block;
            }
        }
    }
    #editor-inflow-box {
        width : 763px!important;
        #editor-area {
            .post-warn {
                width : 350px;
            }
            input {
                &.title,
                &.to {
                    width : 500px; /* 500px in 1024 */
                }
            }
            
        }
    }
    #editor-dialog {
        > .inner {
            margin-top : 40px;
            width : 1000px; /* 1000px in 1024 */
            height : 620px;
            #editor-float-box {
                width : 940px;
                margin : 20px auto;
                input.title {
                    width : 600px;
                }
            }
        }
    }
}
/* style in ipad portrait */
@media (max-device-width: 768px) and (orientation: portrait) {
    #editor-inflow-box {
        width : 760px!important;
        #editor-area {
            .post-warn {
                width : 330px;
            }
        }
    }
    #editor-dialog {
        > .inner {
            width : 700px; /* 1000px in 1024 */
            height : 860px;
            #editor-float-box {
                width : 660px;
                margin : 30px auto;
                input.title {
                    width : 380px;
                }
                #editor {
                    height : 570px!important;
                }
            }
        }
    }
}
