@import "compass/css3";
@import "variables";

#idizcuz {
    .boxes {
        &.main {
            height : 200px;
            .main-area {
                width : 765px;
                .nav-box {
                    margin-top : 20px;
                    border-bottom : solid 1px #EEE;
                    ul.nav {
                        margin-right : 20px;
                        li {
                            float : left;
                            a {
                                display : block;
                                padding : 0 20px;
                                color : #666;
                                line-height : 30px;
                                position : relative;
                                top : 1px;
                                font-size : 13px;
                                &:hover {
                                    text-decoration : none;
                                }
                                &.focus {
                                    border : solid 1px #EEE;
                                    border-bottom : 0;
                                    color : $brandColor;
                                    background : #FFF;
                                }
                            }
                        }
                    }
                }
            }
            .sidebar {
                width : 220px;
                float : right;
                .user-card {
                    width : 100%;
                    padding : 20px 0;
                    text-align : center;
                    border : solid 1px #EEE;
                    border-top : solid 3px $brandColor;
                    .avatar {
                        display : inline-block;
                        background : $brandColor;
                        width : 120px;
                        height : 120px;
                        overflow : hidden;
                        @include border-radius( 50% );
                    }
                    .btns-part {
                        margin-top : 15px;
                        .btns {
                            width : 180px;
                        }
                    }
                    .user-info {
                        text-align : center;
                        .uname {
                            font-weight : bold;
                            line-height : 30px;
                        }
                        .num-part {
                            div {
                                display : block;
                                text-align : center;
                                width : 72px;
                                height : 50px;
                                line-height : 25px;
                                &.m {
                                    border : solid 1px #EEE;
                                    border-top : 0;
                                    border-bottom : 0;
                                }
                                &:hover {
                                    a {
                                        color : $brandColor;
                                    }
                                }
                                b, a {
                                    display : block;
                                    width : 100%;
                                    color : #999;
                                    text-align : center;
                                    font-size : 13px;
                                }
                                b {
                                    font-weight : bold;
                                    color : #333;
                                    font-size : 14px;
                                }
                            }
                            &.l2 div {
                                width : 109px;
                                &:first-child {
                                    border-right : solid 1px #EEE;
                                }
                            }
                        }
                        .info-part {
                            margin : 15px 0;
                            .lines {
                                background : #FAFAFA;
                                line-height : 30px;
                            }
                        }

                    }
                }
            }
        }
    }
    .posts {
        padding : 10px 0;
        border-bottom : solid 1px #eee;
        margin-bottom : 20px;
        .data-line {
            position : relative;
            .operates {
                margin-top : 35px;
                a {
                    font-size : 12px;
                    color : #666;
                    margin-right : 10px;
                }
            }
            .vote {
                a.btns {
                    display : block;
                    margin-bottom : 5px;
                    font-size : 10px;
                    &.disagree {
                        background : #666;
                        border-color : #666;
                    }
                }
            }
            .title {
                margin-left : 10px;
                h2 {
                    line-height : 27px;
                    a {
                        color : #333;
                        &:hover {
                            color : $brandColor;
                        }
                    }
                }
                .uname {
                    color : #999;
                    line-height : 22px;
                    margin-bottom : 5px;
                    font-size: 12px;
                    span {
                        margin-left : 10px;
                    }
                }
            }
            .op-unmark {
                i {
                    color : $brandColor;
                }
            }
        }
        .topic-line {
            margin-top : 20px;
        }
        .contents {
            margin : 15px 0;
            word-wrap : break-word;
        }
        .bottom-line {
            color : #999;
            font-size : 12px;
            .mtime,
            .comments {
                margin-left : 5px;
                color : #999;
            }
        }
    }
    .empty {
        line-height : 80px;
        text-align : center;
        color : #999;
    }
}
