@import "compass/css3";
@import "variables";

#idizcuz {
    .boxes {
        &.main {
            height : 200px;
            .main-area {
                width : 765px;
            }
            .sidebar {
                width : 220px;
                float : right;
            }
        }
    }
    .banned-user {
        background : #F9F6CF;
        padding : 10px;
        border : dashed 1px #CCC;
        margin : 15px 0;
        text-align : center;
    }
    .load-more {
        display : none;
    }
    .posts {
        .flags {
            display : none;
        }
    }
    .empty {
        line-height : 80px;
        text-align : center;
        color : #999;
    }
}
