@import "compass/css3";
@import "variables";

#idizcuz {
    .page-not-found {
        margin-top : 20px;
        text-align : center;
        padding : 40px 0 60px;
        .code {
            font-size : 95px;
            color : $brandColor;
            font-weight : bold;
        }
        .txt {
            font-size : 32px;
            color : #999;
            margin : 10px 0;
        }
    }
}
