@import "compass/reset";
@import "compass/css3";
@import "variables";

html {
    -webkit-text-size-adjust : 100%;
    text-size-adjust : 100%;
}

body {
    margin : auto;
    &.fixed {
        width : 100%;
        position : fixed;
    }
}

img {
    vertical-align : middle;
}

em,
.em {
    font-style : italic;
}

strong,
.string {
    font-weight : bold;
}
.editor,
.post-contents {
    b {
        font-weight : bold;
    }
    i {
        font-style : italic;
    }
    ul {
        list-style : disc inside;
    }
    ol {
        list-style : decimal inside;
    }
}

a {
    color : $brandColor;
    text-decoration : none;
    &:hover,
    &:active {
        color : $highlightBrandColor;
        text-decoration : underline;
    }
}

h1 {
    font-size : $h1FontSize;
    color : $h1Color;
    font-weight : $h1FontWeight;
}

h2 {
    font-size : $h2FontSize;
    color : $h2Color;
    font-weight : $h2FontWeight;
}

h3, h4, h5, h6 {
    font-size : $h3FontSize;
    color : $h3Color;
    font-weight : $h3FontWeight;
}

p {
    font-size : $paragraphFontSize;
    line-height : $paragraphLineHeight;
    color : $paragraphColor;
    &.large {
        font-size : $largeParagraphFontSize;
    }
}

.l {
    float : left;
}

.r {
    float : right;
}

.clearfix {
    &:after {
        content : '.';
        display : block;
        visibility : hidden;
        font-size : 0;
        clear : both;
        overflow : hidden;
        height : 0;
    }
}

.brand {
    color : $brandColor;
}

/** buttons start  **/
.btns {
    width : 80px;
    height : 28px;
    line-height : 28px;
    font-size : 14px;
    display : inline-block;
    white-space : nowrap;
    cursor : pointer;
    text-decoration : none;
    -moz-user-select : none;
    user-select : none;
    text-align : center;
    vertical-align : middle;
    background : $brandColor;
    color : $normalButtonColor;
    border : solid 1px $brandColor;
    &:hover {
        background : $highlightBrandColor;
        color : $normalButtonColor;
        text-decoration : none;
    }
    &:active {
        opacity : .6;
    }
    @include border-radius( 3px );
    @include box-sizing( border-box );
    &.small {
        width : 60px;
        height : 22px;
        line-height : 22px;
        font-size : 12px;
    }
    &.inside-input {
        width : auto;
        height : 26px;
        line-height : 26px;
        font-size : 12px;
        margin-top : 7px;
        padding : 0 10px;
    }
    &.large {
        width : 200px;
        height : 40px;
        line-height : 40px;
        font-size : 16px;
    }
    &.larger {
        width : 300px;    
        height : 40px;
        line-height : 40px;
        font-size : 16px;
    }

    &.dark {
        background : $normalBackgroundColor;
        color : $normalColorGray;
        border-color : $normalBackgroundGray;
        &:hover,
        &:active {
            background : $normalBackgroundGray;
            color : $normalBackgroundColor;
        }
    }

    &.warn {
        background : $normalRed;
        border-color : $normalRed;
        color : $normalRed;
        &:hover {
            background : $normalBackgroundColor;
            color : $highlightRed;
            border-color : $highlightRed;
        }
        &:active {
            color : $normalBackgroundColor;
            background : $highlightRed;
            border-color : $highlightRed;
        }
    }
    &.disabled {
        background : $disabledBackgroundColor;
        border-color : $disabledBackgroundColor;
        color : $disabledColor;
    }
}

.bubbles {
    position : relative;
    border : solid 1px #EEE;
    .close {
        position : absolute;
        color : #999;
        top : 10px;
        right : 10px;
        &:hover {
            color : $brandColor;
            text-decoration : none;
        }
    }
    .triangle {
        position : absolute;
        border : solid 10px transparent;
        border-bottom-color : #EEE;
        top : -21px;
        @include transition( left ease-in-out .5s );
        .triangle {
            border-bottom-color : #FFF;
            bottom : -11px;
            right : -10px;
        }
    }
    .inner {
        padding : 10px;
    }
}

.share-box {
    .share-btns {
        width : 36px;
        height : 36px;
        line-height : 36px;
        display : inline-block;
        padding : 0;
        margin : 0;
        font-size : 20px;
        text-align : center;
        background : none;
        color : #999;
        cursor : pointer;
        &:hover {
            color : $brandColor;
        }
    }
}

input[type=text],
input[type=password],
input[type=date],
input[type=time],
textarea {
    width : 300px;
    height : 40px;
    font-size : 14px;
    line-height : 40px;
    border : solid 1px #B9B9B9;
    display : inline-block;
    padding-left : 10px;
    @include border-radius( 2px );
    @include box-sizing( border-box );
    &:focus {
        outline : 0px;
        border-color : $brandColor;
    }   
    &.small {
        width : 100px;
    }
}

input[type=date] {
    width : 150px;
}

input[type=time] {
    width : 100px;
}

textarea {
    width : 400px;
    height : 150px;
    &.templates {
        display : none;
    }
}
/** buttons end **/

.loading {
    background : url( @Static::images/loading.gif ) no-repeat center;
    height : 80px;
}

.dialogs {
    display : none;
    position : fixed;
    top : 0;
    left : 0;
    bottom : 0;
    right : 0;
    background : rgba( 0, 0, 0, .2 );
    z-index : 2000;
    > .inner {
        width : 300px;
        height : 300px;
        background : #FFF;
        margin : 10% auto 0;
        position : relative;
        border-top : solid 3px $brandColor;
        @include box-sizing( border-box );
        .close, 
        .minus {
            position : absolute;
            right : 13px;
            top : 10px;
            font-size : 18px;
        }
        .ft {
            text-align : center;
            .btns {
                margin : 0 10px;
            }
        }
    }

}
