@import "compass/css3";
@import "variables";

#idizcuz {
    min-height : 100%;

    .boxes {
        & > .inner {
            width : 1000px;
            margin : 0 auto;
            background : $normalBackgroundColor;
        }
        &.top {
            height : 59px;
            line-height : 59px;
            background : $brandColor;
            border-bottom : solid 1px #CCC;
            color : #FFF;
            & > .inner {
                background : $brandColor;
                height : 59px;
                line-height : 59px;
                position : relative;
                .account {
                    position : absolute;
                    right : 0;
                    top : 0;
                    li {
                        line-height : 59px;
                        height : 59px;
                        width : 150px;
                        background : $brandColor;
                        a {
                            color : #FFF;
                            display : block;
                            padding-left : 10px;
                            &:hover {
                                text-decoration : none;
                            }
                        }
                        ul {
                            display : none;
                            li {
                                height : 40px;
                                line-height : 40px;
                                background : $darkBrandColor;
                                border-top : solid 1px #a52e11;
                                &:hover {
                                    background : $highlightBrandColor;
                                }
                            }
                        }
                        &:hover {
                            background : $darkBrandColor;
                            ul {
                                display : block;
                            }
                        }
                    }
                }
                .sign {
                    position : absolute;
                    right : 10px;
                    top : 0;
                    a,
                    span {
                        color : #FFF;
                    }
                    span {
                        font-size : 12px;
                        margin : 3px;
                        position : relative;
                        top : -1px;
                    }
    
                }

            }
        }
        &.main {
            margin-top : 15px;
        }
        &.footer {
            background : $darkBrandColor;
            height : 300px;
            margin-top : 30px;
        }
    }
    .logo-text { 
        font-size : 26px;
        font-weight : bold;
        font-style : italic;
        font-family : Arial;
        &.light {
            color : $normalBackgroundColor;
        }
        &:hover {
            text-decoration : none;
        }
    }
}
