@import "compass/css3";
@import "variables";

body {
    font-size : 14px;
    font-family : "Microsoft YaHei", "微软雅黑","Hiragino Sans GB","黑体","arial";
}
#idizcuz {
    min-height : 100%;
    .boxes {
        & > .inner {
            width : 1220px;
            margin : 0 auto;
        }
        &.top {
            height : 59px;
            line-height : 59px;
            background : #FFF;
            & > .inner {
                background : transparent; 
                height : 59px;
                line-height : 59px;
                position : relative;
                .account {
                    position : absolute;
                    z-index : 1000;
                    right : 0;
                    top : 0;
                    font-size : 14px;
                    border : solid 1px transparent;
                    border-top : 0;
                    &:hover {
                        border-color : #EEE;
                    }
                    li {
                        line-height : 59px;
                        width : 150px;
                        background : #FFF;
                        i.unread-msg-remind {
                            display : inline-block;
                            height : 14px;
                            padding : 0 5px;
                            line-height : 14px;
                            text-align : center;
                            background : $brandColor;
                            position : relative;
                            font-size : 10px;
                            top : -8px;
                            color : #FFF;
                            @include border-radius( 10px );
                        }
                        a {
                            display : block;
                            padding-left : 10px;
                            &:hover {
                                text-decoration : none;
                            }
                        }
                        ul {
                            display : none;
                            li {
                                height : 40px;
                                line-height : 40px;
                                &:hover {
                                    background : #FAFAFA;
                                }
                            }
                        }
                        &:hover {
                            ul {
                                display : block;
                            }
                        }
                    }
                }
                .sign {
                    position : absolute;
                    right : 10px;
                    top : 0;
                    a,
                    span {
                        color : $brandColor;
                        font-size : 14px;
                    }
                    span {
                        margin : 3px;
                        position : relative;
                        top : -1px;
                    }
                }

            }
        }
        &.top-nav {
            height : 50px;
            line-height : 50px;
            background : $brandColor;
            .inner {
                background : $brandColor;
            }
            ul li {
                float : left;
                a {
                    color : #FFF;
                    display : block;
                    padding : 0 20px;
                    font-size : 14px;
                    &.focus {
                        background : $darkBrandColor;
                    }
                    &:hover {
                        text-decoration : none;
                    }
                }
            }
        }
        &.body {
            margin-top : 15px;
            min-height : 500px;
        }
        &.footer {
            background :#FAFAFA;
            height : 100px;
            margin-top : 90px;
            border-top : solid 1px #EEE;
        }
    }
    .logo-text { 
        font-size : 26px;
        font-style : italic;
        font-family : Arial;
        font-weight : bold;
        -webkit-user-select : none;
        &:hover {
            text-decoration : none;
        }
    }

    .rich-text {
        b {
            font-weight : bold!important;
            p {
                text-indent : 2em;
            }
        }
        img {
            max-width : 100%; 
        }   
    } 
    .pagination {
        a,
        span {
            float : left;
            display : block;
            min-width : 30px;
            height : 30px;
            border : solid 1px #EEE;
            background : #FFF;
            line-height : 30px;
            text-align : center;
            margin-right : 5px;
            padding : 0 5px;
            @include box-sizing( border-box );
        }
    }
    .user-card {
        width : 220px;
        padding : 10px 0;
        text-align : center;
        border : solid 1px #EEE;
        border-top : solid 3px $brandColor;
        @include box-sizing( border-box );
        .avatar {
            display : inline-block;
            overflow : hidden;
            @include border-radius( 50% );
        }
        .btns-part {
            margin-top : 15px;
            .btns {
                width : 180px;
            }
        }
        .user-info {
            text-align : center;
            .uname {
                font-weight : bold;
                line-height : 30px;
            }
            .num-part {
                div {
                    display : block;
                    text-align : center;
                    width : 72px;
                    height : 50px;
                    line-height : 25px;
                    &.m {
                        border : solid 1px #EEE;
                        border-top : 0;
                        border-bottom : 0;
                    }
                    &:hover a {
                        color : $brandColor;
                    }
                    b, a {
                        display : block;
                        width : 100%;
                        color : #999;
                        text-align : center;
                        font-size : 13px;
                    }
                    b {
                        font-weight : bold;
                        color : #333;
                        font-size : 14px;
                    }
                }
                &.l2 div {
                    width : 108px;
                    &:first-child {
                        border-right : solid 1px #EEE;
                    }
                }
            }
            .info-part {
                margin : 15px 0;
                .lines {
                    background : #FAFAFA;
                    line-height : 30px;
                }
            }
        }
    }
    .h-user-cards { 
        border-bottom : solid 1px #EEE;
        padding : 20px;
        .unfollow,
        .follow {
            margin-top : 5px;
        }
    }
    .info-box {
        padding : 3px 0;
        margin-left : 20px;
        .uname {
            font-size : 16px;
            color : #333;
            font-weight : 700;
            &:hover {
                text-decoration : none;
            }
        }
        .num-part,
        .info-part,
        .desc-part {
            margin-top : 8px;
            font-size : 14px;
            span.sp {
                margin : 0 5px;
                font-size : 10px;
                color : #CCC;
                position : relative;
                top : -2px;
            }
        }
    }
    .sub-nav {
        border-bottom : solid 1px #EEE;
        ul.nav {
            float : right;
            margin-right : 20px;
            li {
                float : left;
                a {
                    display : block;
                    padding : 0 20px;
                    color : #666;
                    line-height : 32px;
                    position : relative;
                    top : 1px;
                    font-size : 14px;
                    &:hover {
                        text-decoration : none;
                    }
                    &.focus {
                        border : solid 1px #EEE;
                        border-bottom : 0;
                        color : $brandColor;
                        background : #FFF;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1280px) {
    #idizcuz {
        .boxes {
            & > .inner {
                width : 1000px;
            }
        }
    }
}

@media (max-device-width: 768px) and (orientation: portrait) {   
    #idizcuz {
        .boxes {
            & > .inner {
                width : 760px;
            }
            &.body {
                .aside {
                    display : none;
                }
            }
        }
    }
} 
@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2){  
    #idizcuz {
        .boxes {
            & > .inner {
                width : 320px;
            }
            &.body {
                .aside {
                    display : none;
                }
            }
        }
    }
} 
