/* colors */
$brandColor : #cc3914;
$highlightBrandColor : #d94521;
$darkBrandColor : #b13011; 
$highlightBlue : #0088FF;

$normalRed : #DA534F;
$highlightRed : #DA0E08;

$green : #1CB09A;
$yellow : #F6C800; 

$normalBackgroundGray : #FAFAFA;
$normalColorGray : #666;

$disabledBackgroundColor : #B4B3B3;
$disabledColor : #999;

$normalBackgroundColor : #FFF;

$normalButtonColor : #FFF;

/* fonts */

$fontFamily : 微软雅黑;


/* heading */
$h1FontSize : 20px;
$h1Color : #333;
$h1FontWeight : normal;

$h2FontSize : 16px;
$h2Color : #333;
$h2FontWeight : normal;

$h3FontSize : 16px;
$h3Color : #333;
$h3FontWeight : normal;

$h4FontSize : 16px;
$h4Color : #333;
$h4FontWeight : normal;

$h5FontSize : 16px;
$h5Color : #333;
$h5FontWeight : normal;

$h6FontSize : 16px;
$h6Color : #333;
$h6FontWeight : normal;

/* paragraph */

$paragraphColor : #333;

$paragraphFontSize : 12px;
$paragraphLineHeight : 26px;

$largeParagraphFontSize : 14px;
$largeParagraphLineHeight : 1.5em;

/* link */
$linkFontSize : 12px;
