@import "compass/css3";
@import "variables";

#idizcuz {
    .bottom-line {
        margin-top : 5px;
        a {
            margin-right : 5px;
        }
    }
    .bottom-fixed-bar {
        .write {
            i {
                position : relative;
                top : 2px;
                left : 1px;
            }
        }
    }
}
