/* line 5, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* colors */
/* fonts */
/* heading */
/* paragraph */
/* link */
/* line 5, ../../../../scss/base.scss */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* line 10, ../../../../scss/base.scss */
body {
  margin: auto;
}

/* line 14, ../../../../scss/base.scss */
img {
  vertical-align: middle;
}

/* line 18, ../../../../scss/base.scss */
em,
.em {
  font-style: italic;
}

/* line 23, ../../../../scss/base.scss */
strong,
.string {
  font-weight: bold;
}

/* line 28, ../../../../scss/base.scss */
a {
  color: #1476CC;
  text-decoration: none;
}
/* line 31, ../../../../scss/base.scss */
a:hover, a:active {
  color: #0088FF;
  text-decoration: underline;
}

/* line 38, ../../../../scss/base.scss */
h1 {
  font-size: 20px;
  color: #333;
  font-weight: normal;
}

/* line 44, ../../../../scss/base.scss */
h2 {
  font-size: 16px;
  color: #333;
  font-weight: normal;
}

/* line 50, ../../../../scss/base.scss */
h3, h4, h5, h6 {
  font-size: 16px;
  color: #333;
  font-weight: normal;
}

/* line 56, ../../../../scss/base.scss */
p {
  font-size: 12px;
  line-height: 26px;
  color: #333;
}
/* line 60, ../../../../scss/base.scss */
p.large {
  font-size: 14px;
}

/* line 65, ../../../../scss/base.scss */
.l {
  float: left;
}

/* line 69, ../../../../scss/base.scss */
.r {
  float: right;
}

/* line 74, ../../../../scss/base.scss */
.clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  font-size: 0;
  clear: both;
  overflow: hidden;
}

/* line 84, ../../../../scss/base.scss */
.grouple {
  color: #1476CC;
}

/** buttons start  **/
/* line 89, ../../../../scss/base.scss */
.btns {
  width: 80px;
  height: 28px;
  line-height: 28px;
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  -moz-user-select: none;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  background: #1476CC;
  color: #FFF;
  border: solid 1px #1476CC;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 105, ../../../../scss/base.scss */
.btns:hover {
  background: #FFF;
  color: #1476CC;
  text-decoration: none;
}
/* line 110, ../../../../scss/base.scss */
.btns:active {
  color: #FFF;
  background: #0088FF;
  border-color: #0088FF;
}
/* line 117, ../../../../scss/base.scss */
.btns.small {
  width: 60px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
}
/* line 123, ../../../../scss/base.scss */
.btns.large {
  width: 300px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
}
/* line 130, ../../../../scss/base.scss */
.btns.dark {
  background: #FFF;
  color: #666;
  border-color: #B8BFCC;
}
/* line 134, ../../../../scss/base.scss */
.btns.dark:hover, .btns.dark:active {
  background: #B8BFCC;
  color: #FFF;
}
/* line 141, ../../../../scss/base.scss */
.btns.warn {
  background: #DA534F;
  border-color: #DA534F;
  color: #DA534F;
}
/* line 145, ../../../../scss/base.scss */
.btns.warn:hover {
  background: #FFF;
  color: #DA0E08;
  border-color: #DA0E08;
}
/* line 150, ../../../../scss/base.scss */
.btns.warn:active {
  color: #FFF;
  background: #DA0E08;
  border-color: #DA0E08;
}
/* line 156, ../../../../scss/base.scss */
.btns.disabled {
  background: #B4B3B3;
  border-color: #B4B3B3;
  color: #999;
}

/* line 163, ../../../../scss/base.scss */
input[type=text],
input[type=password] {
  width: 300px;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  border: solid 1px #B9B9B9;
  display: inline-block;
  padding-left: 10px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 174, ../../../../scss/base.scss */
input[type=text]:focus,
input[type=password]:focus {
  outline: 0px;
  border-color: #1476CC;
}

/** buttons end **/
