/* line 1, ../../../../scss/common.scss */
#grouple {
  min-height: 100%;
}
/* line 5, ../../../../scss/common.scss */
#grouple .boxes .inner {
  width: 990px;
  margin: 0 auto;
  background: #FFF;
}
/* line 11, ../../../../scss/common.scss */
#grouple .logo-text {
  color: #1476CC;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  font-family: Arial;
}
